.header-grid {
    margin: 2.5rem 0;
    display: grid;
    grid-template-areas:
        "item-mini item-horizontal item-vertical"
        "item-mini item-horizontal-2 item-vertical";
    gap: .9rem;

    .item-vertical {
        grid-area: item-vertical;
        width: 1fr;
        min-width: 380px;
    }

    .item-horizontal {
        grid-area: item-horizontal;
        max-width: 1fr;
        min-width: 400px;
    }

    .item-horizontal-2 {
        grid-area: item-horizontal-2;
        max-width: 1fr;
        min-width: 400px;
    }

    .item-mini {
        grid-area: item-mini;
        max-width: 210px;
        min-width: 210px;
        justify-content: center;
        align-items: center;
        height: 100%;
        overflow: hidden;

        .title-type {
            transform: rotate(90deg);
            color: $text-mute-dark;
            width: 500px;
            font-weight: 600;
            font-size: 2.5rem;
            box-sizing: border-box;
            text-align: center;
            transition: color ease-in-out 100ms;

            &:hover {
                color: $primary-3;
            }
        }
    }
}

@media only screen and (max-width: $tablet) {
    .header-grid {
        margin: 2rem 0;
        grid-template-areas:
        "item-mini item-mini"
        "item-horizontal item-vertical"
        "item-horizontal-2 item-vertical";
        gap: .7rem;

        .item-mini {
            grid-area: item-mini;
            max-width: 100%;

            .title-type {
                transform: rotate(0deg);
                color: $text-mute-dark;
                width: auto;
                font-weight: 600;
                font-size: 1.5rem;
                box-sizing: border-box;
                text-align: center;
                transition: color ease-in-out 100ms;

                &:hover {
                    color: $primary-3;
                }
            }
        }
    }
}

@media only screen and (max-width: $landscape-mobile) {
    .header-grid {
        margin: 2.1rem 0;
        grid-template-areas:
        "item-mini"
        "item-vertical"
        "item-horizontal"
        "item-horizontal-2";
        gap: .7rem;

        .item-mini {
            grid-area: item-mini;
            max-width: 100%;
            min-width: 100%;
        }

        .item-vertical {
            grid-area: item-vertical;
            width: 1fr;
            max-width: 100%;
            min-width: 100%;
        }

        .item-horizontal {
            grid-area: item-horizontal;
            max-width: 100%;
            min-width: 100%;
        }

        .item-horizontal-2 {
            grid-area: item-horizontal-2;
            max-width: 100%;
            min-width: 100%;
        }

        .item-mini {
            grid-area: item-mini;
            max-width: 100%;
            min-width: 100%;
        }
    }
}


